.more-popup {
  color: black !important;
  background-color: white !important;
  border: none !important;
}

.custom-complete {
  color: #007bff !important;
  background-color: #ececec !important;
  border: none !important;
}
.custom-class {
  color: #007bff !important;
  background-color: white !important;
  border: none !important;
}

.custom-class:focus {
box-shadow: none !important;
}