.invite-header {
  font-size: 1.5rem;
  height: 6rem;
  margin: 0 auto;
}

.invite-email {
  margin: 1rem auto;
  border-color: rgb(202 202 202);

}

.invite-modal {
  padding: 0 !important;
  margin: .5rem auto;
  display: flex;
  justify-content: center;
}
