a {
    text-decoration: none;
}

.btnCont {
    display: flex;
    justify-content: center;
    width: 100%;
}

.group-nav-btn-active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #a0c4ff;
    height: 50px;
    color: white;
    font-weight: 500;
    width: 50vw;
    transition: .3s ease-in-out;
}

.group-nav-btn-inactive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 50px;
    color: #a0c4ff;
    border: 1px solid #a0c4ff;
    font-weight: 500;
    width: 50vw;
    transition: .3s ease-in-out;
}


.group-nav-btn:hover{
    background-color: #a0c4ff;
    scale: 1.05;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #bdb2ff
}

#feed-btn-text {
    padding-top: 2px;
}

#members-btn-text {
    padding-top: 2px;
}

@media screen and (min-width: 968px) {
    .add-goal-btn {
        display: none;
    }
}