.goal-details-name {
    color: #a0c4ff;
    font-size: 30px;
}

.goal-details-row {
    font-size: 16px;
}

.goal-details-description {
    font-size: 16px;
}

.goal-details-start {
    font-size: 16px;
}

.goal-details-progress {
    font-size: 16px;
}

.no-padding {
    padding: 0;
    margin: 0;
}

.padding {
    padding: 16px;
}

.bt-div {
    padding: 16px;
    display: flex;
}

.border-top {
    border-top: 1px solid lightgrey;
}

.border-bottom {
    border-bottom: 1px solid lightgrey;
}

#comment-total {
    padding-left: 5px;
}

#cheer-total {
    padding-left: 5px;
}

#chip-row {
    margin-bottom: 10px;
    margin-top: 5px;
}