.goal-details-name {
    color: #5887f9;
}

.goal-details-row {
    font-size: 16px;
}

.goal-details-description {
    font-size: 16px;
}

.goal-details-start {
    font-size: 16px;
}

.goal-details-progress {
    font-size: 16px;
}