.update-prog {
  font-size: .8rem;
}

.update-descr {
 font-style: italic;
}

.update-freq {
 font-size: .9rem;
}

.update-header {
  display: flex;
  justify-content: space-around;
}

.hide-button {
  color: #bd2c38;
  cursor: pointer;
}

.goal-name-hide {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.goal-update-card {
  margin: 1rem auto !important;
}

.is-complete {
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .nav-bottom-fixed {
    margin-top: 8rem !important;
  }
}