.update-prog {
  font-size: .8rem;
}

.update-descr {
 font-style: italic;
}

.update-freq {
 font-size: .9rem;
}

.update-header {
  display: flex;
  justify-content: space-around;
}

.user-name {
  font-size: 1.4rem;
}

.form-box {
  margin: 0 8rem;
}

.hide-button {
  color: #bd2c38;
  cursor: pointer;
}

#outlined-multiline-static {
  width: 80% !important;
}

.two {
  cursor: pointer;
}
.two:hover {
  box-shadow: 1px 1px solid black
}

.goal-name-hide {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.goal-update-card {
  margin: 1rem auto !important;
}

.is-complete {
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .nav-bottom-fixed {
    margin-top: 8rem !important;
  }
  .form-box {
    margin: 0 auto;
  }
}