.top-nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    border-bottom: 2px solid #e2e8ed;
    background-color: white;
}

.header-text {
    color: #5887f9;
    font-size: 25px;
    font-weight: 600;
    padding-top: 5px;
}