.btn-outline-primary {
  color: black !important
}

#edit-modal-title {
  font-size: 30px;
  padding: 5px;
}

#goal-dates-row {
  width: 300px;
  margin-bottom: 30px;
}

#edit-save-btn {
  width: 300px;
  margin: auto;
}


@media screen and (max-width: 400px) {
  #goal-dates-row {
      width: 262px;
  }

  .actual-dates {
    width: 125px;
  }

  #edit-save-btn {
    width: 262px;
  }
}