.desktop-save-goal-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-blue);
    height: 50px;
    color: white;
    font-weight: 600;
    width: 100%;
    border: none;
    border-radius: 4px;
}

.desktop-save-goal-btn:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

#save-goal-text {
    padding-left: 5px;
    padding-top: 2px;
}

@media screen and (max-width: 968px) {
    .desktop-save-goal-btn {
        display: none;
    }
  }