.goal-alert {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding: .1rem;
  height: 1.5rem;
}

.complete-link {
  margin-left: auto;
  border: none;
  background: none;
  color: red;
}

.bigCont {
  display: flex;
  align-items: center;
}

.progCont {
  width: 97%
}

@media screen and (max-width: 768px) {
  .progCont {
    width: 95% !important
  }
}

@media screen and (max-width: 380px) {
  .progCont {
    width: 90% !important
  }
}