.desktop-nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    border-bottom: 2px solid #e2e8ed;
    background-color: white;
    z-index: 2;
}

.desktop-header-text {
    color: #5887f9;
    font-size: 25px;
    font-weight: 600;
    padding-top: 5px;
}

.kinetik-homeBtn {
    border-bottom: 2px solid #5887f9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}

.kinetik-homeBtn p {
    font-size: 25px;
    margin-left: 5px;
    color: #5887f9;
}

.desktop-groupBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}

.desktop-groupBtn p {
    font-size: 25px;
    margin-left: 5px;
    color: #bcc5d3;
}