:root {
    --clr-teal: hsl(184, 11%, 49%);
    --clr-blue: hsl(217, 100%, 81%);
    --clr-blue2: hsl(217, 21%, 55%);
    --clr-grey: hsl(105, 9%, 82%);
    --clr-yellow: hsl(51, 53%, 79%);
    --clr-yellow2: hsl(43, 74%, 66%);
    --clr-white: hsl(42, 29%, 93%);
    --clr-grn: #7eec68;
}

* {
    padding: 0px;
    margin: 0px;
    /* font-family: 'canada-type-gibson'; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Jost', sans-serif;
}

p {
    margin-bottom: 0 !important;
}

a {
    text-decoration: none !important;
}

.MuiBadge-colorSecondary {
    color: #fff;
    background-color: #ff70a6 !important;
}

.MuiBadge-colorPrimary {
    color: #fff;
    background-color: #70bfff !important;
}

.react-calendar {
    border: 1px solid #bdb2ff !important;
    font-family: 'Jost', sans-serif;
    border-radius: 1%;
    box-shadow: 0px 5px 10px #888;
    width: 70vw !important;
    height: 70vh !important;
}

.react-calendar__navigation__arrow {
    color: #bdb2ff;
}

.react-calendar__navigation__label {
    color: #718bb4;
}


.react-calendar__month-view__weekdays__weekday {
    color: #3d3d3d;
}

.react-calendar__month-view__days__day {
    color: #718bb4;
    height: 10vh !important;
    transition: .3s ease-in-out;
}

.react-calendar__month-view__days__day--weekend {
    color: #ffadad;
}
.react-calendar__month-view__days__day--neighboringMonth {
    color: #d7d0fd;
}

.react-calendar__tile--now {
    background-color: #9bf6ff;
    border-radius: 5%;
}

.react-calendar__tile--active {
    background-color: #fdffb6;
    border-radius: 5%;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background-color: #fdffb6;
}

.react-calendar__year-view__months__month {
    color: #718bb4;
}

.react-calendar__decade-view__years__year {
    color: #718bb4;
}

.dash-card {
    width: 100%;
    margin: 0 auto;
}

.calendar {
    padding-top: 4.1rem;
}

.no-goals {
    position: absolute;
    top: 50%;
    font-size: 1rem;
    font-style: italic;
    margin: 0 3rem;
}

.form-error {
    height: 1.8rem;
    margin-left: 0 !important;
}

.memberList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.motto-text {
    color:#60c3ff;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-family: 'canada-type-gibson';
}

.logInScreen {
    background-color: white;
    height: 100vh;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    margin-top: 75px;
}

.NewUserScreen {
    background-color: white;
    height: 100vh;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    margin-top: 75px;
}

.logo-text {
    font-family: 'canada-type-gibson';
    font-size: 45px;
    font-weight: 600;
    color: #60c3ff;
    margin-bottom: 50px;
}

.feed-page-header {
    padding-top: 4.1rem;
    color: hsl(217deg 54% 70%)
}

.NewUser {
    text-decoration: none;
}

.modal {
    padding-left: 0 !important;
}
.modal-open {
    padding-right: 0 !important;
}

#signup-inactive {
    color: #bcc5d3;
}

#login-inactive {
    color: #bcc5d3;
    display: inline;
}

#login-active {
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 1rem;
    color: #4c5264;
}

#signup-active {
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #4c5264;
}

.logIn {
    padding-top: 5px;
}

.text-danger {
    margin-left: .4rem;
}

.signup-text {
    display: flex;
    color: #bcc5d3;
}

.login-signin-btn {
    display: flex;
    justify-content: center;
}

.form-group {
    height: 4rem;
}

.form-control {
    height: 35px;
    border-radius: 4px;
    border-color: rgb(248, 246, 246);
    background: content-box;
    width: 200px;
    padding: 0px 5px;
}

::placeholder {
    color: #bcc5d3;
}

.btn-success {
    height: 35px;
    width: 200px;
    background-color: #5887f9;
    color: white;
    border-radius: 4px;
    border-color: #5887f9;
}

.goalCards {
    /* height: 70vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 1rem;
    margin-top: 10px;
    transition: .5s ease-in-out
}

.card {
    background-color: white;
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.feed-page-header {
    text-decoration: underline var(--clr-blue)
}

.accept-inv-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #a0c4ff;
    height: 50px;
    color: white;
    font-weight: 500;
    transition: .3s ease-in-out;
    border: none !important;
    padding: 1rem;
    margin-bottom: 1rem;
}

.accept-inv-btn:hover {
    opacity: .6;
    color: rgb(255, 255, 255);
}

.inv-header {
    width: 30%;
    margin-bottom: 2rem;
}

.group-name {
    color: #5887f9;
    margin-bottom: 1rem;
}

.invite-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-goal-form {
    padding-top: 4.1rem;
    max-width: 480px;
    margin: auto;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.remove {
    padding: .5rem;
    display: flex;
    border-radius: 2px;
    justify-content: center;
}

.goals-page {
    margin-bottom: 7.5rem;
    max-width: 968px;
    margin: auto;
}

.containerZK {
    border-radius: 5px;
    border: solid 1px #bcc5d3;
    margin-bottom: .8rem;
    margin: 0 auto;
    width: 65%;
    padding: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .5s ease-in-out;
    margin-top: 10px;
}

.calendarCard {
    padding-top: 5.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createGroupForm{
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.createGroupInput {
    margin-top: 20px;
    width: 100%;
    border: 1px solid #bcc5d3;
    border-radius: 4px;
}

.containerComplete {
    background-color: #ececec;
}

.blueBack {
    color: #5574F7;
}

.blueish {
    color: var(--clr-blue);
}

.create-goal-row {
    height: 60px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1rem auto;
}

.pl-2 {
    padding-left: 15px !important;
}
.pr-2 {
    padding-right: 15px !important;
}

.triple-row {
    flex-direction: row !important;
    margin-top: 1.5rem;
    justify-content: space-between;
}

.create-goal-dates {
    height: 60px;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.create-goal-input {
    height: 35px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #bcc5d3;
    padding-left: .4rem;
}

.sm-column {
    padding: 0 8px;
}

.create-goal-label {
    color: #a0c4ff;
    font-size: 1.5rem;
}

.sm-label {
    font-size: 1rem !important;
}

.num {
    width: 5rem !important;
}

.goal-dates {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 60px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.alert-warning {
    color: black !important;
}

#success-alert {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding: .1rem;
    height: 1.5rem;
}

.smart-goals {
    width: 100%;
    margin-top: 4rem;
}

.actual-dates {
    display: flex;
    flex-direction: column;
    width: 9rem;
}

.placeholder {
    color: #bcc5d3;
}

.MuiSlider-root {
    margin: 0 1rem !important;
    padding: 3.5rem 0 !important;
    width: auto !important;
    /* transition: .5s ease-in-out !important; */
}

.MuiSvgIcon-fontSizeLarge {
    cursor: pointer !important;
}

.card-title {
    color: #a0c4ff !important;
}

.btn-outline-primary {
    color: #a0c4ff;
    border-color: #a0c4ff;
}

.btn-primary {
    background-color: #a0c4ff;
    border-color: #a0c4ff;
}

.btn-primary:hover {
    background-color: rgb(110, 162, 247);
    border-color: rgb(110, 162, 247);
}

.btn-outline-primary:hover {
    background-color: #a0c4ff;
    border-color: #a0c4ff;
}

.desktop-header-text {
    color: #718bb4;
    font-size: 24px;
    font-weight: 600;
    padding-top: 5px;
}

@media screen and (max-width: 992px) {
    .logIn {
        padding-top: 0px;
    }
    .containerZK {
        width: 70%;
    }

    .smart-goals {
        margin-top: 2rem
    }
    .group-updates {
        margin-bottom: 8rem;
    }
    
    .goalCards {        
        margin-bottom: 8rem;

    }
}

/* Large smartphones - navbar changes color */

@media screen and (max-width: 768px) {
    .logIn {
        padding-top: 0px;
    }
    .containerZK {
        width: 100%;
    }
    .smart-goals {
        margin-top: 1rem
    }

}

/* Small smartphones - image placeholders change color */

@media screen and (max-width: 576px) {
    .logIn {
        padding-top: 0px;
    }

    .react-calendar {
        border: 1px solid #bdb2ff !important;
        font-family: 'Jost', sans-serif;
        border-radius: 1%;
        box-shadow: 0px 5px 10px #888;
        width: 98vw !important;
        height: 50vh !important;
    }

    .react-calendar__month-view__days__day {
        color: #bdb2ff;
        height: 7vh !important;
    }

    .smart-goals {
        margin-top: 0
    }
}
