*{
    padding: 0px;
    margin: 0px;
    font-family: 'canada-type-gibson';
}

p {
    margin-bottom: 0 !important;
}
.calendar {
    padding-top: 4.1rem;
}
.logInScreen{
    background-color: white;
    height: 100vh;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    margin-top: 75px;
}

.NewUserScreen{
    background-color:white;
    height: 100vh;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    margin-top: 75px;
}

.logo-text {
    font-family:'canada-type-gibson';
    font-size: 45px;
    font-weight: 600;
    color: #60c3ff;
    margin-bottom: 50px;
}

.NewUser{
    text-decoration: none;
}

#signup-inactive {
    color: #bcc5d3;
}

#login-inactive {
    color: #bcc5d3;
}

#login-active {
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #4c5264;
}

#signup-active {
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #4c5264;
}


.logIn{
    padding-top: 5px;
}

.form-group{
  height: 75px;
}

.form-control{
    height: 35px;
    border-radius: 4px;
    border-color: rgb(248, 246, 246);
    background: content-box;
    width: 200px;
    padding: 0px 5px;
}

::placeholder {
    color: #bcc5d3;
}

.btn-success{
    height: 35px;
    width: 200px;
    background-color: #5887f9;
    color: white;
    border-radius: 4px;
    border-color: #5887f9;
}

.goalCards{
    /* height: 70vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 4.1rem;
    margin-bottom: 7.5rem;
}

.card{
    background-color: white;
    display: flex;
    width: 300px;
    
    
}

.create-goal-form {
    padding-top: 4.1rem;
}

.goalheading{
    padding-bottom: 20px;
    
    color: #5574F7;
}
.content{
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.remove{
    padding: .5rem;
    display: flex;
    border-radius: 2px;
    justify-content: center;
    
}

.containerZK{
    border-radius: 5px;
    border: solid rgb(172, 170, 170) 2px;
    margin-bottom: 3px;
}

.contentRight{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.blueBack{
    color: #5574F7;
}


.create-goal-row {
    height: 60px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.create-goal-input {
    height: 35px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #bcc5d3;
}

.create-goal-label {
    color: #5574f7;
    font-size: 18px;
}

.goal-dates {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 60px;
    margin: auto;
    margin-top: 10px;
    justify-content: space-between;
}

.actual-dates {
    display: flex;
    flex-direction: column;
}

.placeholder {
    color: #bcc5d3;
}




@media screen and (max-width: 992px) {
    .logIn{
        padding-top: 0px;
    }
  }

  /* Large smartphones - navbar changes color */
  
  @media screen and (max-width: 768px) {
    .logIn{
        padding-top: 0px;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  
  @media screen and (max-width: 576px) {
    .logIn{
        padding-top: 0px;
    }
  }