*{
    padding: 0px;
    margin: 0px;
    font-family: 'canada-type-gibson';
}

.logInScreen{
    background-color: white;
    height: 100vh;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
}

.NewUserScreen{
    background-color:white;
    height: 100vh;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
}

.logo-text {
    font-family:'canada-type-gibson';
    font-size: 45px;
    font-weight: 600;
    color: #60c3ff;
    margin-bottom: 20px;
}

.NewUser{
    text-decoration: none;
}

#signup-inactive {
    color: #bcc5d3;
}

#login-inactive {
    color: #bcc5d3;
}

#login-active {
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #60c3ff;
}

#signup-active {
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #60c3ff;
}


.logIn{
    padding-top: 5px;
}

.form-group{
  height: 75px;
}

.form-control{
    height: 35px;
    border-radius: 4px;
    border-color: rgb(248, 246, 246);
    background: content-box;
    width: 200px;
}

.btn-success{
    height: 35px;
    width: 200px;
    background-color: #5887f9;
    color: white;
    border-radius: 4px;
}

@media screen and (max-width: 992px) {
    .logIn{
        padding-top: 0px;
    }
  }

  /* Large smartphones - navbar changes color */
  
  @media screen and (max-width: 768px) {
    .logIn{
        padding-top: 0px;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  
  @media screen and (max-width: 576px) {
    .logIn{
        padding-top: 0px;
    }
  }