.completed-goals {
  color:  #a0c4ff !important;
  text-decoration: none !important;
  padding-top: 4.5rem;
  font-style: italic;
  font-style: bold;
}

.completed-goals-btn:hover {
  box-shadow: 0px 5px 4px #888, inset 0px -2px 5px #888;
}